{% extends "./layouts/app.twig" %}
{% block title %}
	Create post
{% endblock %}
{% block content %}
<div class="flex bg-gray-300 text-black">
        <aside class="w-64 hidden md:flex md:flex-col h-screen px-4 py-8 bg-gray-100 rounded-3xl shadow-sm">
			<h1 class="text-3xl font-bold mb-10 text-black">
				Binsta
			</h1>
			<nav class="flex flex-col space-y-4 w-full">
				<a class="flex items-center space-x-2 text-black" href="/">
					<ion-icon name="planet-outline" class="w-8 h-8"></ion-icon>
					<span>
						Home
					</span>
				</a>
			</a>
			<a class="flex items-center space-x-2 text-black" href="/post/create">
				<ion-icon name="create-outline" class="w-8 h-8"></ion-icon>
				<span>
					Create
				</span>
			</a>
			<a class="flex items-center space-x-2 text-black" href="/profile/me">
				<ion-icon name="person-circle-outline" class="w-8 h-8"></ion-icon>
				<span>
					Profile
				</span>
			</a>
			<a class="flex items-center space-x-2 text-black" href="/user/logout">
				<ion-icon name="log-out-outline" class="w-8 h-8"></ion-icon>
				<span>
					Log out
				</span>
			</a>
		</aside>
        <main class="flex-1 overflow-y-auto bg-gray-300 h-screen">
            <div class="flex h-screen">
                <div class="m-auto items-center">
                    <div class="py-6 px-6 bg-white w-[30rem] lg:w-[60rem] rounded-2xl ">
                        <form action="create" method="post">
                            <div class="mb-4">
                                <label for="language" class="block text-sm font-medium text-gray-700 mb-1">
                                    Select language
                                </label>
                                <select id="language" name="language" required class="w-full border rounded-lg p-2 bg-gray-100">
								<option value="" selected disabled hidden>none chosen</option>
                                    {% for language in languages %}
								<option value="{{ language }}">{{ language }}</option>
							{% endfor %}
                                </select>
                            </div>
                            <div class="mb-4">
                                <label for="code" class="block text-sm font-medium text-gray-700 mb-1">
                                    Snippet
                                </label>
                                <textarea id="code" name="code" placeholder="Enter your code snippet here..."
                                    class="w-full h-64 p-2 border rounded-lg bg-gray-100 resize-none"></textarea>
                            </div>
                            <div class="mb-4">
                                <label for="caption" class="block text-sm font-medium text-gray-700 mb-1">
                                    Caption
                                </label>
                                <input
                                    class="flex h-10 rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full"
                                    id="caption" name="caption" placeholder="Enter a caption for your snippet" />
                            </div>
                            <button type="submit"
                                class="flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-black hover:bg-gray-700">
                                <ion-icon name="save-outline" class="h-5 w-5"></ion-icon>
                                <span class="ml-2">Create post</span>
                            </button>
                        </form>
                    </div>
                </div>
        </main>
    </div>
	<h2>Create a new post</h2>
	<form method="post" action="create">
		<table>
			<tbody>
				<tr>
					<th>Code</th>
					<td>
						<textarea name="code" required placeholder="Enter your code..." rows="10"></textarea>
					</td>
				</tr>
				<tr>
					<th>Caption</th>
					<td><input type="text" name="caption" required placeholder="Write a caption..."/></td>
				</tr>
				<tr>
					<th>Language</th>
					<td>
						<select name="language" required>
							<option value="" selected disabled hidden>none chosen</option>
							{% for language in languages %}
								<option value="{{ language }}">{{ language }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="Create post"/>
	</form>
{% endblock %}
