{% extends "./layouts/app.twig" %}
{% block title %}
    Post {{ user.username }}
{% endblock %}
{% block content %}
<h2>Your post</h2>
<table>
    <tbody>
        <tr>
            <th>Code</th>
            <td><img src="data:image/png;base64,{{ image_bytes }}" alt="code img" height="100px"></td>
        </tr>
        <tr>
            <th>Caption</th>
            <td>{{ post.caption }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}