{% extends "./layouts/app.twig" %}
{% block title %}
    Welcome
{% endblock %}
{% block content %}
    <p>Welcome to:</p>
    <h1>{{project_name}}</h1>

    {% if loggedInUser %}
    <a href="/profile/me">Take a look at your profile</a>
    <a href="/post/create">Create a new post</a>
    {% else %}
    <p>Sign up or log in to get started</p>
    {% endif %}

    {% for post in posts %}
    <table>
        <tbody>
            <h2>{{ post.user.username }}
            <tr>
                <th>Code</th>
                <td><img src="data:image/png;base64,{{ post.image_bytes }}" alt="code img" height="100px"></td>
            </tr>
            <tr>
                <th>Caption</th>
                <td>{{ post.post.caption }}</td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
{% endblock %}