{% extends "./layouts/app.twig" %}
{% block title %}
	Login
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
	<div class="min-h-screen bg-[url('https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] flex">
		<div class="flex-1 bg-white flex flex-col justify-center px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
			<div class="mx-auto w-full max-w-sm lg:w-96">
				<div>
					<h1 class="text-3xl font-bold">Binsta</h1>
					<h2 class="mt-2 text-3xl font-medium text-gray-900">Login to your account</h2>
				</div>
				<div class="mt-8">
					<div class="mt-6">
						<form action="login" method="post" class="space-y-6"><input class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" id="username" name="username" autocomplete="username" required placeholder="Your username" type="username"><input class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" id="password" name="password" autocomplete="current-password" required placeholder="Your password" type="password"><button type="submit" class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 w-full bg-blue-600 hover:bg-blue-700 text-white">Login</button>
							<a href="/" class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 w-full bg-gray-600 hover:bg-gray-700 text-white">Back</a>
						</form>
						<div class="mt-6 relative">
							<div class="absolute inset-0 flex items-center" aria-hidden="true">
								<div class="w-full border-t border-gray-300"></div>
							</div>
							<div class="relative flex justify-center text-sm">
								<span class="px-2 bg-white text-gray-500">Don't have an account yet?
									<a class="text-blue-600 hover:text-blue-500" href="/user/signup">Sign up here</a>
								</span>
							</div>
							<div class="relative flex justify-center text-sm">
								<span class="px-2 bg-white text-gray-500">Forgot your password?
									<a class="text-blue-600 hover:text-blue-500" href="/user/forgot">Reset here</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
