{% extends "./layouts/app.twig" %}
{% block title %}
	Sign up
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<h2>Create your account</h2>
<form method="post" action="signup">
    <table>
        <tbody>
            <tr>
                <th>Username</th>
                <td>
                    <input type="text" name="username" required placeholder="Your username">
                </td>
            </tr>
            <tr>
                <th>Display name</th>
                <td>
                    <input type="text" name="displayName" required placeholder="Your display name">
                </td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>
                    <input type="email" name="email" required placeholder="Your e-mail">
                </td>
            </tr>
            <tr>
                <th>Password</th>
                <td>
                    <input type="password" name="password" required placeholder="Your password">
                </td>
            </tr>
            <tr>
                <th>Confirm Password</th>
                <td>
                    <input type="password" name="confirmPassword" required placeholder="Confirm your password">
                </td>
            </tr>
            <tr>
                <th>Security question</th>
                <td>
                    <select name="securityQuestion" required>
                        <option value="" selected disabled hidden>Choose a security question</option>
                        {% for securityQuestion in securityQuestions %}
                            <option value="{{ securityQuestion }}">{{ securityQuestion }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Security answer</th>
                <td>
                    <input type="text" name="securityAnswer" required placeholder="Your security answer">
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/">Back</a>
    <input type="submit" value="Sign up"/>
</form>
{% endblock %}
